* {
  box-sizing: border-box;
}
header {
align-items: center;
background: #033048;
display: flex;
justify-content: space-between;
padding: 0 40px;
}
h1 {
color: #fff;
font-size: 48px;
font-weight: 800;
margin: 0;
}
a {
color: #f9e42e;
text-decoration: none;
padding: 40px 40px 20px 0;
}
nav{
	inline: block;
}