.header {
	background: rgb(9,202,159);
	color: white;
	padding: 5px 10px;
	text-align: center;
}
div  {
  	display: inline;
  	padding: 5px 10px 5px 10px;
}

h2 {

	background: rgb(196,222,252);
	color: black;
	text-align: center;
}
