.header  {
	background: rgb(9,202,159);
	color: white;
	padding: 5px 10px;
	text-size: 5px;
	text-align: center;
}

a {
	color: black;
	margin: 10px;
	text-size: 2px;
	text-align: center;
}

h2 {
	text-align: center;
}
div {
	text-align: center;
	border: 8px wide;
}
.location-one  {
	background: rgb(196,222,252);
	border: 4px wide;
  	padding: 50px 30px;
  }

.location-two  {
	background: rgb(194,242,227);
	border: 4px wide;
	color: black;
}

.location-three  {
	background: rgb(196,222,252);
	border: 4px wide;
	padding:5px 10px 5px 10px;
}

footer {
	margin: 20px;
	text-align: center:
}