* {
  box-sizing: border-box;
}
body, h1, h2 {
	margin: 0;
}
header {
	background: #000;
	border-bottom: solid #ffff00;
	overflow: auto;
	
}
h1 {
	color: #ffff00;
	float: left;
  font-family: "Merriweather";
  padding: 15px 0 15px 50px;
}
a {
	color: #fff;
	text-decoration: none;
  padding: 25px;
}

nav {
	margin-top: 20px;
	color: #fff;
  font-family: Oswald;
  float: right;
}
.div {
	float: left;
	overflow: auto;
}		
.aside {
  background-color: rgba(255, 255, 255, 0.8);
	float: right;
	width: 30%;
	border: solid black 1px;
  margin-right: 40px;
  padding: 30px;
}
.bold-link {
	font-weight: bold;
}
.reg-text {
  font-weight: 100px;
}

.brains {
	background: #C6C6C6;
	font-family: "Merriweather";
  font-style: italic;
  font-size: 24px;
	padding: 20px;
	text-align: center;

}
.cross-out{
  color: #999;
  text-decoration: line-through;
}
.underline{
  text-decoration: underline;
  text-decoration-color: #ffff00;
}

.banner {
	overflow: auto;
	background-image:url('../img/coworking.jpg');
	background-size: cover;
  height: calc(50%-100px);
	padding: 40px;
}

.clearfix:after  {
	content: "";
	display: table;
	clear: both;
}

.cards-container {
  outline: 1px;
  overflow: auto;
  margin: auto;
}

.cards {
  float: left;
  width: calc(100%/3);
  padding: 40px;	
}

h2 {
	font-family: "Source Sans Pro";

}

.yellow-button {
  	background: #ffff00;
  	border-radius: 5px;
  	box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
  	display: block;
  	font-family: "Oswald";
  	font-size: 20px;
  	font-weight: bold;
  	letter-spacing: 1px;
  	padding: 12px;
  	text-transform: uppercase;
  	width: 100%;
  }

 .grey-button {
 	background: #C6C6C6;
 	border-radius: 5px;
  	box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
  	display: block;
  	font-family: "Oswald";
  	font-size: 20px;
  	font-weight: bold;
  	letter-spacing: 1px;
  	padding: 12px;
  	text-transform: uppercase;
  	width: 100%;
}
.heart {
  background-color: red;
  display: inline-block;
  height: 30px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
  }
 footer {
 	background: #000;
 	padding: 20px 0;
 }
/*

FONT FAMILY HELPERS :)
font-family: 'Oswald', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Source Sans Pro', sans-serif;

*/
