.container {
	width: 720px;
	padding: 54px;
    border-left: solid 6px #dddddd;
    color: #444444;
    font-family: "Lato"; 
    line-height: 1.5;

}
header {
	
}
h1	{
	color: #dd0000;
	font-family: 40px;

}
h2  {
	color: #000;
}
nav  {
	color: #dddddd;
}
a:hover  {
	color: #000;
}
.date {
	color: #cccccc;
	font-size: 40px;
}
.title  {
	color: #000;
	font-size: 40px;
}
.continues  {
	text-decoration: none;
	text-align: right;
	color: red;
}
img {
	width: 720px;
}

footer  {
	color: red;
}