.container {
	width: 720px;
	padding: 54px;
    border-left: solid 6px #dddddd;
    color: #444444;
    font-family: "Lato"; 
    line-height: 1.5;
}
h1	{
	color: #dd0000;
	font-family: 60px;

}
h2  {
	color: #000;
}
nav  {
	color: #000;
	font-size: 20px;
	padding: 5px 20px 40px 10px;
}
a:hover  {
	color: #000;
}
.date {
	color: #cccccc;
	font-size: 40px;
}
.title  {
	color: #000;
	font-size: 40px;
	padding: 0 0 15px 0;
}
p  {
	font-size: 18px;
}
.continues  {
	text-decoration: none;
	text-align: right;
	color: red;
}
img {
	width: 720px;
}

.footer-menu  {
	color: red;
	font-size: 18px;
}

footer {
	color: #bbbbbb;
	font-size: 18px;

}

