.container {
	margin: auto;
	padding: 54px;
	width: 1080px;
	font-family: "Lato";
	font-size: 18px; 
}

body {
	margin: 0;
}

h1 {
	color: #dd0000;
	font-size: 64px;
    font-weight: 300px;
}
h1:hover {
	  color: #a00;
}
h2 {
	color: #444;
    font-size: 27px;
    font-weight: 100px;
}

header h1,
header h2  {
	display: inline-block;
	margin: 0;
    line-height: 1.5;
}
nav {
	background: #000;
    color: #fff;
    height: 60px;
    font-size: 24px;
    margin: 15px 0 15px 0;
}

a {
	color: white;
	padding: 50px;
	text-decoration: none;
}

a:hover {
    color: #a00;
    background: #900;
}
.clearfix:after {
	content:"";
	display: table;
	clear: both;
}
section {
	float: left;
	width: 730px;
}
img {
	width: 100%;
}
aside {
	float: right;
	margin: 20px 0 0 0;
	width: 320px;
}
.paragraph {
	margin: 0 0 30 0;
}
.more {
	color: #dd0000;
	margin: 50px;
	text-align: right;
}
ul {
	font-weight: bold;
}
.date {
	color: #cccccc;
    font-size: 36px;
    font-weight: 300px;
    margin: 50px 0 20px 0;
}
.title  {
	color: #000;
    font-size: 36px;
    font-weight: 300px;
    margin: 0 0 20px 0;
}
p::first-letter { 
	float: left;
    font-size: 108px;
    color: rgb(221,221,221);
    line-height: 100%;
    width: 500px;

}
.continues {
	background: linear-gradient 180px;
	color: #dd0000;
	font-weight: bold;
	text-align: right;
}

.footer-menu  {
	color: #dd0000;
	font-size: 18px;
	margin: 80px 0 40px 0;
}

footer {
	color: #bbbbbb;
	margin: 40px 0 40px 0;
}