.container {
	margin: auto;
	padding: 54px;
	width: 1080px;
	font-family: "Lato";
	font-size: 18px; 
}

body {
	margin: 0;
}

h1 {
	color: #dd0000;
	font-size: 74px;
    font-weight: 300px;
}
h1:hover {
	  color: #a00;
}
h2 {
	color: #444;
    font-size: 27px;
    font-weight: 300px;
}

header h1,
header h2  {
	display: inline-block;
	margin: 0;
    font-family: "Lato"; 
    line-height: 1.5;
}
nav {
	background: #000;
    color: #fff;
    height: 60px;
    font-size: 24px;
    margin: 15px 0 15px 0;
}

a {
	color: white;
	padding: 50px;
	text-decoration: none;
}

a:hover {
    color: #a00;
    background: #900;
}
.clearfix:after {
	content:"";
	display: table;
	clear: both;
}
section {
	float: left;
}
aside {
	float; right;
}
.date {
	color: #cccccc;
    font-size: 36px;
    font-weight: 300px;
}
.title  {
	color: #000;
    font-size: 36px;
    font-weight: 300px;
}
p::first-letter { 
    font-size: 108px;
    color: #8A2BE2;
    line-height: 1px;

}
.continues... {
	font-weight: bold;
	text-alight: right;
}

.footer-menu  {
	color: red;
	font-size: 18px;
}

footer {
	color: #bbbbbb;
	font-size: 18px;

}