.container {
	margin: auto;
	padding: 54px;
	width: 1080px;
	overflow: auto;
}

body {
	margin: 0;
}

h1 {
	color: #d00;
	font-size: 60px;
}

h2 {
	color: #444;
    font-size: 27px;
    font-weight: 300;
}
header h1,
header h2  {
	display: inline-block;
	margin: 0;
    font-family: "Lato"; 
    font-size: 18px;
    line-height: 1.5;
}

nav {
	background: #000;
    color: #000;
    height: 50px;
    font-size: 24px;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
    color: #a00;
    background: #900;
}
.sidebar {
	float: left;
	width:;
}
.date {
	color: #cccccc;
    font-size: 36px;
    font-weight: 300;
}
.title  {
	color: #000;
    font-size: 36px;
    font-weight: 300;
}
p::first-letter { 
    font-size: 200%;
    color: #8A2BE2;
}
.clear {
	clear: both;
}

}